!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Roller
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")

    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/bootstrap-dropdown.js")

    style
      body{
        padding-top:80px;
      }

    script
      $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
      });

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") Rolodex Demo
          if(current_user)
            ul.nav.pull-right
              li.dropdown#menu1
                a.dropdown-toggle(href="#menu1", data-toggle="dropdown") logged in as 
                  != current_user.email
                  |  
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="/account/edit") Edit Account
                  li.divider
                  li
                    a(href="/logout") logout
    .container
      != body

